
[formulario] {
    background:rgb(234, 234, 234);
    // height:40rem;
flex-flow: column wrap;
justify-content:center;
align-items:center;
padding: 2rem 0 2rem;
}


.inp_Gen {
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
}

input, button, label,textarea {
    display:block;
    margin-bottom:1rem;
}

label {
    font-size: 1.4em;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    width:20rem;
    padding:1rem 3rem;
}

textarea {
    width:30rem;

}

button {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem auto;
    border:none;
    background:darkgreen;
    padding:1rem 2rem;
    color:white;
    cursor:pointer;
    border-radius: .3rem;
}

.dataBase {
    display:flex;
    justify-content: center;
    align-items:center;
}

.rec,.bor {
    // display:inline-block;
    margin: 2rem;
    background:rgb(0, 106, 206);
        
}

.bor {
    background:rgb(206, 0, 0);
}

.postsList {
    padding-top: 3rem;
    position:relative;
    .fetchInd{
        position:absolute;
        top:.7rem;
        text-align:center;
        width:100%;
        opacity:1;
        transition: opacity .1s ease-in-out;
    }
    .fetchInd.desplegado {
        opacity:1;
        // transition: opacity 2s ease-in-out;
    }
    .fetchInd.oculto {
        opacity:0;
        // transition: opacity 2s ease-in-out;
    }
}

.listItem {
    border:.5px solid gainsboro;
    margin:2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:.5rem 2rem 1rem;;
    position:relative;
    hr {
        // height: .5px;
        border-bottom: .5px;
    border: .5px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 2rem;
    margin-right: 60%;

    }
    h3.nuevo::before {
        content:"Nuevo Post";
        font-weight:400;
        font-size:.8em;
        color:rgb(219, 242, 250);
        margin-right:3px;
        display:inline-block;
        background:rgb(10, 129, 10);
        padding:5px 10px;
        border-radius:5px;
        position:absolute;
        right:8px;
        top:10px;

    }
}